.post__two {
	padding-left: 80px;
	border-bottom: solid 1px #d8d8d8;
	background-image: url('../../Assets/image/postertwo.png');
	background-repeat: no-repeat;
	background-position: 10px 5px;
}

.post__two-box {
	display: flex;
	width: 100%;
	margin: 0;
	margin-top: 20px;
}

.poster__name {
	display: inline-block;
	margin: 0;
	margin-bottom: 5px;
}

.poster__email {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	opacity: 0.6;
}

.point {
	font-size: 28px;
	margin-left: auto;
}

.round-fll {
	color: #0cb245;
}

.like-fll {
	color: #ef1c5c;
}
